<!DOCTYPE HTML PUBLIC "­//W3C//DTD HTML 4.01//EN">

{% load render_table from django_tables2 %}
{% load static %}
<html lang="es"> 
	<head>


		<title>Sistema CEAB</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	 </head>
	<body>
		<header class="row" style="padding-top: 10px; padding-bottom: 20px">
				<img class="col-md-1" src="http://www.mibachilleratoabierto.com.mx/images/logo.png" alt="Logo">			
	        </div>
	    
	        <nav class="col-md-12">
		        <ul class="nav nav-pills" style="padding-top: 20px; padding-left: 20px" >
					<li class="active"><a href="/">Inicio</a></li>
					
					
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/control_diario">Tareas continuas <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/corte_caja">Corte de caja</a></li>
					        <li><a href="/cobros_diarios">Cobros diarios</a></li>
					        <li><a href="/cobros_vencidos/0">Cobros vencidos</a></li>
	        				<li><a href="/resumen_prospectos">Resumen prospectos</a></li>
						</ul>
					</li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/control_diario">Tareas periodicas <span class="caret"></span></a>
						<ul class="dropdown-menu">
					        <li><a href="/documentacion_incompleta">Documentacion incompleta</a></li>
	        				
						</ul>
					</li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/consultas">Reportes <span class="caret"></span></a>
						<ul class="dropdown-menu">
					        <li><a href="/pagos_proximos">Pagos proximos</a></li>
	        				<li><a href="/cobranzas">Cobranza</a></li>
	        				<li><a href="/alumnos_con_servicio">Alumnos con servicio</a></li>
	        				
						</ul>
					</li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/consultas">Cobranza <span class="caret"></span></a>
						<ul class="dropdown-menu">
					        
	        				<li><a href="/cobros_vencidos/7">Cobros de los siguientes 7 dias</a></li>
						</ul>
					</li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/consultas">Herramientas <span class="caret"></span></a>
						<ul class="dropdown-menu">
					        <li><a href="/captura_calificacion">Captura calificacion</a></li>
					        <li><a href="/boleta_alumno">Boletas</a></li>
	        				<li><a href="/imprime_material_regulares">Impresion material regulares</a></li>
	        				<li><a href="/imprime_material_empresa">Impresion material empresa</a></li>
	        				<li><a href="/genera_extraordinario">Extraordinario</a></li>
	        				<li><a href="/buscar_alumno_nombre">buscar alumno por nombre</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
    	
        <section class="col-md-12">
        	
            
            {% block content %}
            {% endblock %}

   		</section>
	  
	 
		<footer>
        {% block footer %}
        	<p style="margin-left: 40px" >  <br></p>
        {% endblock %}
        </footer>
	    <!-- Latest compiled and minified JavaScript -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>




	</body> 
</html>
