{% extends "consultas_diarias.html" %}
{% block buscar %}
	<h1>{{titulo}}</h1>
	<h2>{{subtitulo}}</h2>
	<h3>{{mensaje}}</h3>
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
		        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
		        {{ message }}
		    </li>
		    {% endfor %}
		</ul>
	{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="Enviar" />
	</form>
	
{% endblock %}