<!DOCTYPE HTML PUBLIC "­//W3C//DTD HTML 4.01//EN">

{% load render_table from django_tables2 %}
{% load static %}
<html lang="es"> 
	<head>


		<title>Sistema CEAB</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	 </head>
	<body>
		<header class="row" style="padding-top: 10px; padding-bottom: 20px">
				<img class="col-md-1" src="http://www.mibachilleratoabierto.com.mx/images/logo.png" alt="Logo">			
	        
	    </header>

	    <section class="col-md-12">
	        <ul class="nav nav-pills" style="padding-top: 20px; padding-left: 20px">
		        <h3> Bienvenido: {{nombre}} </h3>
		        <h4> Las materias activas son: </h4>

		        <table class = "table table-striped">
		        	<thead class="thead-inverse">
						<tr>
							{% for item in encabezados %}
								<th> {{item}} </th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
				
				        {% for materia in materias %}
				        	<tr>
							  	<td> {{materia.0}}</td>
							  	<td> {{materia.1}} </td>
							  	{% if materia.2 == '' %}
							  		<td> {{ materia.3 }} </td>
							  	{% else %}
							  		<td><a href="{{materia.2}}" > examen</a></td>
							  	{% endif %}
							  	{% if materia.4 == '' %}
							  		<td> {{ NA }} </td>
							  	{% else %}
							  		<td><a href="{{materia.4}}" > Hoja resumen</a></td>
							  	{% endif %}
							 </tr>
						{% endfor %}
					</tbody>
				</table>
			</ul>
			
		</section>
    	
        <section class="col-md-12">
        	<ul class="nav nav-pills" style="padding-top: 20px; padding-left: 20px">
		        <h4> Tu boleta: </h4>

		        <table class = "table table-striped">
					<thead class="thead-inverse">
						<tr>
							{% for item in encabezados2 %}
								<td> {{item}} </td>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for fila in filas %}
							<tr>
							{% for cad in fila %}
								<td> {{cad}} </td>
							{% endfor %}
					  		</tr>
						{% endfor %}
					</tbody>
				</table>
			</ul>
            
            

   		</section>
	  
	 
		<footer>
        {% block footer %}
        	<p style="margin-left: 40px" >  <br></p>
        {% endblock %}
        </footer>
	    <!-- Latest compiled and minified JavaScript -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>




	</body> 
</html>
