
{% extends 'menu_promotor.html' %}

{% block content %}
	<h3> Bienvenido: {{nombre}} </h3>
    <h5> Los prospectos registrados son: </h5>
    <table class = "table table-striped">
    	<thead class="thead-inverse">
			<tr>
				<th> Nombre</th>
			  	<th> Celular</th>
			  	<th> Fecha de creacion</th>
			</tr>
		</thead>
		<tbody>
	
	        {% for prospecto in prospectos %}
	        	<tr>
				  	<td> {{prospecto}} </td> 
				  	<td> {{prospecto.celular}} </td> 
				  	<td> {{prospecto.creacion_de_registro}}</td>
				  	
				  	
				  	
				 </tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}